{% extends "layout.html" %}

{% block content %}
<h2>{{title}}</h2>
<br />
<br />
<div style="align-content:space-around">
    <h1 style="background-color:aquamarine">Project Name: <strong>DB Analyzis Sample Project</strong></h1>
    <br />
</div>
<br />

<h3>Links</h3>
<div>
    &nbsp;&nbsp;<strong>Anaconda:</strong> <a href="https://www.anaconda.com/" target="_blank">https://www.anaconda.com/</a><br />
    &nbsp;&nbsp;<strong>Pandas:</strong> <a href="https://pandas.pydata.org/" target="_blank">https://pandas.pydata.org/</a><br />
    &nbsp;&nbsp;<strong>MatPlotLib:</strong> <a href="https://matplotlib.org/" target="_blank">https://matplotlib.org/</a><br />
</div>


{% endblock %}
